<ngx-spinner></ngx-spinner>
<div class="container mt-5">
    <div *ngIf="!registerMode" style="text-align: center">
        <div class="text-center">

        </div>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
               <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
</div>

<section class="content">
  <div class="container align-self-start">
    <div class="row mb-5">
      <div class="col text-center">
        <a href="#">
          <img alt="Image" src="assets/img/logo-gray.svg" />
        </a>
      </div>
      <!--end of col-->
    </div>
    <!--end of row-->
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-7">
        <div class="card card-lg text-center">
          <div class="card-body">
            <div class="mb-5">
              <h1 class="h2 mb-2">Hello again</h1>
              <span>Sign in to your account to continue</span>
            </div>
            <div class="row no-gutters justify-content-center">
              <form class="text-left col-lg-8" *ngIf="(accountService.currentUser$ | async) === null"#loginForm="ngForm" class="form-outline mt-2 mt-md-0" (ngSubmit)="login()"
              autocomplete="off">
                <div class="form-group">
                  <!-- <label for="username">Username</label> -->
                  <input
                    class="form-control form-control-lg"
                    [(ngModel)]="model.username"
                    type="email"
                    name="username"
                    id="form"
                    placeholder="Email/Username" />
                </div>
                <div class="form-group">
                  <!-- <label for="login-password">Password</label> -->
                  <input
                    class="form-control form-control-lg"
                    [(ngModel)]="model.password"
                    type="password"
                    name="password"
                    id="form"
                    placeholder="Enter a password" />
                  <!-- <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                      routerLink="/register" class="link-danger">Register</a></p> -->

                  <small>Forgot password? <a href="#" routerLink="/reset-password" class="text-small">Reset here</a>
                  </small>
                </div>
                <div>
                  <div class="custom-control custom-checkbox align-items-center">
                    <input type="checkbox" class="custom-control-input" value="box-1" name="box-1" checked id="check-remember">
                    <label class="custom-control-label text-small" for="check-remember">Remember me next time</label>
                  </div>
                </div>
                <div class="text-center text-lg-start mt-4 pt-2">
                  <button [disabled]="!loginForm.valid"  type="submit" class="btn btn-primary btn-lg mr-2"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                  <button type="submit" class="btn btn-primary btn-lg mr-2"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="demoLogin()">Demo</button>
                  <!-- <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                      routerLink="/register" class="link-danger">Register</a></p> -->
                </div>
                <!-- <div class="text-center mt-3">
                  <button [disabled]="!loginForm.valid" type="submit"
                  class="btn btn-lg btn-primary mr-2"
                  style="padding-left: 2.5rem; padding-right:2.5rem;"
                  >Login</button>
                </div>
                <div class="text-center mt-3">
                  <button type="submit"
                  class="btn btn-lg btn-primary"
                  style="padding-left: 2.5rem; padding-right:2.5rem;"
                  (click)="demoLogin()"
                  >Demo</button>
                </div> -->
              </form>
            </div>
            <!--end of row-->
          </div>
        </div>
        <div class="text-center">
          <span class="text-small">Don't have an account yet? <a href="#!" routerLink="/register">Create one</a>
          </span>
        </div>
      </div>
      <!--end of col-->
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

  <div
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
      Copyright © 2022. All rights reserved.
    </div>
  </div>

    <!-- Copyright -->

    <!-- Right -->
    <div>
      <a href="#!" class="text-white me-4">
        <i class="socicon-github"></i>
      </a>

      <!-- <a href="#!" class="text-white me-4">
        <i class="fa fa-twitter"></i>
      </a> -->

      <a href="#!" class="text-white me-4">
        <i class="socicon-linkedin"></i>
      </a>
    </div>




